@keyframes 'loading_screen_anim'
{
	0%
	{
		transform: translatex(0px);
	}

	50%
	{
		transform: translatex(-400px);
	}

	100%
	{
		transform: translatex(0px);
	}
}

.loading_screen_root {
	width: 100%;
	height: 100%;
	overflow: scroll squish;
}

#loading_screen_image_bg {
	animation-name: loading_screen_anim;
	animation-duration: 75s;
	animation-delay: 8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}