#top_message_feed_container
{
	y: 50px;
	width: 1000px;
	flow-children: up;
	horizontal-align: center;
	background-color: #00000058;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.top_message_background
{
	width: 100%;
	height: 32px;
	flow-children: right;
	horizontal-align: center;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.top_message_container
{
	height: 32px;
	flow-children: right;
	horizontal-align: center;
}

.top_message_player_avatar
{
	height: 30px;
	width: 30px;
	vertical-align: center;
}

.top_message_hero_image
{
	height: 30px;
	width: 30px;
	vertical-align: center;
}

.top_message_label
{
	color: #FFFFFFFF;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: center;
	font-size: 18;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 2px 4.0 #000000FF;
}

#bottom_message_feed_container
{
	width: 1000px;
	height: 0px;
	flow-children: down;
	margin-bottom: 160px;
	vertical-align: bottom;
	horizontal-align: center;
	background-color: #00000070;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.bottom_message_background
{
	width: 100%;
	flow-children: right;
	horizontal-align: center;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.bottom_message_container
{
	height: 42px;
	flow-children: right;
	horizontal-align: center;
}

.bottom_message_label
{
	color: #FFFFFFFF;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: center;
	font-size: 28;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 2px 4.0 #000000FF;
}

#income_container
{
	width: 300px;
	height: 42px;
	horizontal-align: right;
	margin-top: 20px;
	flow-children: right;
	border-radius: 16px;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-size: 100%;
	border: 2px solid #111111FF;
}

#income_timer_container
{
	height: 100%;
	width: 54px;
	margin-left: 14px;
}

#income_timer_label
{
	color: #FFFFFFFF;
	horizontal-align: center;
	vertical-align: center;
	font-size: 24;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 2px 2px 8px 3.0 #000000FF;
}

#income_description_container
{
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

#income_description_label
{
	color: #FFFFFFFF;
	horizontal-align: left;
	vertical-align: center;
	font-size: 18;
	font-family: "DejaVu Sans";
	text-shadow: 2px 2px 8px 3.0 #000000FF;
}

#income_amount_label
{
	color: #F3CE4CFF;
	margin-left: 6px;
	horizontal-align: left;
	vertical-align: center;
	font-size: 18;
	font-family: "DejaVu Sans";
	text-shadow: 2px 2px 8px 3.0 #000000FF;
}

#income_gold_icon
{
	height: 30px;
	width: 30px;
	margin-left: 2px;
	horizontal-align: left;
	vertical-align: center;
}





#income_scoreboard_container
{
	width: 300px;
	x: 1601px;
	y: 82px;
	flow-children: down;
	border-radius: 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000080 ), to( #000000d0 ) );
	border: 2px solid #111111FF;
}

.AspectRatio4x3  #income_scoreboard_container
{
	x: 1121px;
}

.AspectRatio16x10  #income_scoreboard_container
{
	x: 1409px;
}

#income_header_container
{
	width: 100%;
	height: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	flow-children: right;
}

.income_header_label
{
	color: #F3CE4CFF;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16;
	font-family: "DejaVu Sans";
	text-shadow: 2px 2px 8px 3.0 #000000FF;
}

#income_header_container_player
{
	width: 140px;
	height: 100%;
	margin-left: 10px;
}

#income_header_container_cities
{
	width: 60px;
	height: 100%;
}

#income_header_container_income
{
	width: 80px;
	height: 100%;
	margin-right: 10px;
}

.income_player_container
{
	width: 100%;
	height: 24px;
	margin-bottom: 4px;
	flow-children: right;
	background-color: #ff000080;
}

.income_player_player_avatar
{
	height: 24px;
	width: 24px;
	margin-left: 6px;
	horizontal-align: left;
	vertical-align: center;
}

.income_player_container_player
{
	width: 118px;
	height: 100%;
	margin-left: 6px;
}

.income_player_container_cities
{
	width: 60px;
	height: 100%;
}

.income_player_container_income
{
	width: 80px;
	height: 100%;
	margin-right: 10px;
}

.income_player_subcontainer_income
{
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

.income_player_player_label
{
	color: #FFFFFFFF;
	horizontal-align: left;
	vertical-align: center;
	font-size: 14;
	font-family: "DejaVu Sans";
	font-weight: Bold;
	text-shadow: 1px 1px 2px 3.0 #000000FF;
}

.income_player_cities_label
{
	color: #FFFFFFFF;
	horizontal-align: center;
	vertical-align: center;
	font-size: 14;
	font-family: "DejaVu Sans";
	font-weight: Bold;
	text-shadow: 1px 1px 2px 3.0 #000000FF;
}

.income_player_gold_label
{
	color: #F3CE4CFF;
	horizontal-align: center;
	vertical-align: center;
	font-size: 14;
	font-family: "DejaVu Sans";
	font-weight: Bold;
	text-shadow: 1px 1px 2px 3.0 #000000FF;
}

#income_container_bottom_marginator
{
	width: 100%;
	height: 12px;
}





#gold_container
{
	width: 180px;
	height: 48px;
	x: 1721px;
	y: 1000px;
	flow-children: left;
	border-radius: 16px;
	background-color: #000000D0;
	border: 2px solid #111111FF;
}

.AspectRatio4x3  #gold_container
{
	x: 1241px;
}

.AspectRatio16x10  #gold_container
{
	x: 1569px;
}

#gold_amount_label
{
	color: #F3CE4CFF;
	margin-right: 8px;
	vertical-align: center;
	font-size: 22;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 2px 2px 8px 3.0 #000000FF;
}

#gold_gold_icon
{
	height: 36px;
	width: 36px;
	margin-right: 12px;
	vertical-align: center;
}





#income_detail_button_container
{
	horizontal-align: right;
	margin-top: 375px;
	height: 28px;
	width: 40px;
	border-radius: 22px;
	background-color: #000000D0;
	border: 2px solid #111111FF;
}

#income_detail_button
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-size: 100% 160%;
	background-position: center;
	pre-transform-rotate2d: 90deg;
}

#income_detail_container
{
	horizontal-align: right;
	margin-top: 400px;
	width: 0px;
	flow-children: down;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.income_detail_container_block
{
	margin-top: 5px;
	border-radius: 8px;
	border: 2px solid #111111FF;
	flow-children: down;
}

.income_detail_container_header
{
	color: #F3CE4CFF;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 6px;
	margin-bottom: 3px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 2px 3.0 #000000FF;
	white-space: nowrap;
}

.income_detail_row_full
{
	horizontal-align: center;
	width: 350px;
	background-color: #000000C0;
}


.income_detail_row_half
{
	horizontal-align: center;
	width: 350px;
	background-color: #000000C0;
}

.income_detail_label_full
{
	color: #FFFFFFFF;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 5px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 2px 3.0 #000000FF;
	white-space: nowrap;
}

.income_detail_label_half
{
	color: #FFFFFFFF;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 3px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 2px 3.0 #000000FF;
	white-space: nowrap;
}